<div class ="container">
    <div class="requestform">
    
        <%= form_with model:@request, local: true do |f| %>

            <h3 style="font-family:Cursive;text-align:center">Request Application</h3>
            
            <% if @request.errors.present? %>
                <%= @request.errors.full_messages.join(', ')%>
            <% end %>
            <br/>
            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-home"></i></span>
                <%= f.text_field :suit_no,placeholder:"Suite No *" ,class:'form-control' %> 
            </div>

            <br/>

            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                <%= f.text_field :name,placeholder:"Name *",class:'form-control' %> 
            </div>
           
            <br/>
           <div class="form-group">
                <%= f.label :request_type %>
                <%= f.select(:request_type, options_for_select([["Work Order",'Work Order'],["Vacate Notice",'Vacate Notice']], f.object.request_type), {include_blank: false}) %>
                <%= f.label :request_status %>
                <%= f.select(:request_status, options_for_select([["Created","Created"],["Inprogress","Inprogress"],["Complete",'Complete']], f.object.request_status), {include_blank: false}) %>  
            </div>

          <br/>

            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-phone"></i></span>
                 <%= f.text_field :contact_phone,placeholder:"Contact No *",class:'form-control' %> 
            </div>

           <br/>

            <div class="input-group">
                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                <%= f.email_field :email,placeholder:"Email *",class:'form-control' %> 
            </div>
        <br/>
            <div class="form-group">
                <%= f.text_area :additional_notes, cols:40 ,rows:4,placeholder:"Request Description *",class:'form-control' %>
            </div>

            <%= f.submit class:"btn btn-info" %>
        
        <% end %>
    
</div>
</div>