<main class="container">
        
<nav class="navbar navbar-expand">
        

        <ul class="navbar-nav" style="font-family:Cursive">
          
          <li class="nav-item active">
            <%= link_to 'Home', root_path  %>
          </li>
          
           <li class="nav-item active">
            <%= link_to 'Posts', posts_path  %>
          </li>

          <li class="nav-item">
            <%= link_to 'New Post', new_post_path %>
          </li>

          
            <% if user_signed_in? %>
                 <li><i class="fa fa-user-circle-o" style="font-size:30px"></i></li>
                 <li><%= link_to current_user.first_name %> </li>
                 <li>
                    <%= link_to "Logout", session_path, method: :delete,
                      data: {confirm: ' You want to log out?'}
                    %>
                 </li>
              <% else %>
                <li><%= link_to "Sign in", new_session_path %></li>
                <li> <%= link_to "Sign up", new_user_path %></li>
            <% end %>
          </li>
         
        </ul>
    </nav>
 


</main>